section.section.about
	.about__desc
		svg(
			viewbox="0 0 1000 100" 
			preserveAspectRatio="none"
			class="triangle triangle_fill_white about__triangles")
			polygon(points="0,0,0,100 1000,100")
		+title('Обо мне','about-header.png','about__section-title')
		.user-about.user-about__picture
				img(src="./static/img/content/MyPhoto.jpg", alt="My photo").myPhoto
		.user-about__title
			+subtitle('Кто я','about__section-subtitle')
			.user-about__text
				p Я веб разработчик из Читинской области. Меня зовут Колесников Дмитрий. Я занимаюсь разработкой современных сайтов  и приложений. 
					| Мне нравится делать интересные и современные проекты.
				p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
					| Чуть позже я освежу в нём свой контент. 
					| А пока посмотрите, как тут всё классно и красиво!
	
	.about__skills
		svg(
			viewbox="0 0 1000 100" 
			preserveAspectRatio="none"
			class="triangle triangle_fill_beige about__triangles")
			polygon(points="0,100 1000,100 1000,0")
		.about-data
			.about-data__desc.about-user-info
				.about-data__title
					+subtitle('Чем я могу быть вам полезен', 'about-data__title-sub')
			.about-data__text
				p Больше всего меня привлекет Frontend разработка,
					| но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
				ul.skills
					each skill in content.skills 
						each skillsArray, skillName in skill
							li.skills__item
								.skill-section
									.skill-section__title= skillName
									ul.skill-section__list
										each skillTitle in skillsArray
											li.skills-section__item= skillTitle
											.skill
												svg.skill__circle
												svg.skill__name= skillTitle


				//- ul.skills
				//- 	each skill in ['Frontend', 'Backend', 'WorkFlow']
				//- 		li.skills__item
				//- 			.skill-section
				//- 				.skill-section__title= skill
				//- 			ul.skill-section__list
				//- 				each skillName in ['HTML3', 'CSS3', 'JQuery']
				//- 					li.skills-section__item
				//- 						.skill
				//- 							svg.skill__circle
				//- 							svg.skill__name= skillName



